.contar-10-child {
  position: absolute;
  top: -4px;
  left: -8px;
  width: 376px;
  height: 656px;
  mix-blend-mode: color-burn;
}
.image-4-icon1 {
  position: absolute;
  top: 94px;
  left: 66px;
  width: 228px;
  height: 243px;
  object-fit: cover;
}
.contar-10-item,
.vamos-contar-nmeros {
  position: absolute;
  top: 17px;
  left: 52px;
}
.contar-10-item {
  top: 414px;
  left: 101px;
  border-radius: 50%;
  background-color: rgba(140, 1, 226, 0.71);
  width: 158px;
  height: 158px;
}
.div {
  position: absolute;
  top: 432px;
  left: 138px;
  font-size: 96px;
  font-family: Kavivanar;
  display: inline-block;
  width: 84px;
  height: 121px;
}
.contar-10 {
  position: relative;
  background-color: rgba(229, 28, 246, 0.75);
  width: 100%;
  height: 640px;
  cursor: pointer;
  text-align: left;
  font-size: 36px;
  color: #fff;
  font-family: "Just Me Again Down Here";
}
