.continhas-child {
  position: absolute;
  top: -4px;
  left: -8px;
  width: 376px;
  height: 656px;
  mix-blend-mode: color-burn;
}
.continhas1 {
  position: relative;
  background-color: rgba(229, 28, 246, 0.75);
  width: 100%;
  height: 640px;
  text-align: left;
  font-size: 40px;
  color: #fff;
  font-family: "Just Me Again Down Here";
}

.centralized-text {
  font-family: "Just me again down her";
  color: white;
  text-align: center;
   display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-bordered-input {
  border: solid;
  border-bottom: 1px solid black;
  width: 10%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
