.pintar-child {
  position: absolute;
  top: -4px;
  left: -8px;
  width: 376px;
  height: 656px;
  mix-blend-mode: color-burn;
}
.image-5-icon {
  position: absolute;
  top: 0;
  left: -122px;
  width: 604px;
  height: 603px;
  object-fit: cover;
}
.no-quero-pintar {
  position: absolute;
  top: 64px;
  left: 46px;
}
.preguia-melhor-dormir {
  position: absolute;
  top: 473px;
  left: 32px;
}
.pintar1 {
  position: relative;
  background-color: rgba(229, 28, 246, 0.75);
  width: 100%;
  height: 640px;
  text-align: left;
  font-size: 40px;
  color: #fff;
  font-family: "Just Me Again Down Here";
}
